name: Pylint

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - name: Set up Python 3.13
      uses: actions/setup-python@v3
      with:
        python-version: "3.13"
    - name: Install pylint
      run: pip install pylint
    - name: Python Pylint GitHub Action
      run: pip install poetry && poetry install && poetry run pylint --rcfile=.github/workflows/pylintrc --fail-under=9.5 remake tests
